/* CodePopup.css */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .popup-content {
    background: white;
    width: 400px;
    max-width: 90%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
  }
  
  .popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  .popup-close svg {
    font-size: 24px;
  }
  
  .popup-header {
    text-align: center;
  }
  
  .popup-logo {
    max-width: 100%;
    height: auto;
  }
  
  .popup-body {
    margin-top: 20px;
    text-align: center;
  }
  
  .popup-body p {
    margin: 10px 0;
  }
  
  .input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }
  
  .code-input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-right: none;
    border-radius: 5px 0 0 5px;
    flex-grow: 1;
  }
  
  .copy-button {
    padding: 10px;
    background-color: #00c4cc;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .copy-button svg {
    margin-right: 5px;
  }
  
  .copy-button:hover {
    background-color: #06cfd6;
  }
  
  .popup-button {
    display: inline-block;
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #00c4cc;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    border: none;
  }
  
  .popup-button:hover {
    background-color: #06cfd6;
  }
  
  .additional-info {
    margin: 10px 0;
    text-align: left;
  }
  
  .toggle-requirements {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-weight: bold;
    color: #00c4cc;
  }
  
  .popup-conditions {
    margin-top: 20px;
    text-align: left;
  }
  
  .popup-conditions h3 {
    margin-bottom: 10px;
  }
  
  .popup-conditions ul {
    list-style: none;
    padding: 0;
  }
  
  .popup-conditions ul li {
    margin-bottom: 5px;
  }
  
  .popup-conditions ul li::before {
    content: '✔';
    color: #00c4cc;
    margin-right: 10px;
  }
  
  .popup-footer {
    margin-top: 20px;
    padding: 20px;
    background-color: #0d2940;
    color: white;
    text-align: center;
    border-radius: 10px;
  }
  
  .popup-footer h3 {
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .activate-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #3596C4;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    border: #3596C4;
  }
  
  .activate-button:hover {
    background-color: #30ace6;
  }
  