/* :root {
  --primary: var(--primary);
  --btn-primary-hover: var(--btn-primary-hover);
  --btn-group: #007bff;
} */

.container-list {
    /* margin: 20px 0; */
    width: 88%;
    margin: auto;
    margin-right:  75px;
     font-weight: 500;
  }
  
  .container-items {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    border-left: 3px solid var(--primary);
    border-right: 3px solid var(--primary);
    position: relative;
  }
  .container-items .a-main{
    text-decoration: none;
    color: black;
  }
  
  .container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: auto;
  }
  
  .container-type-percentage {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .container-image{
    width: 60px;
    height: 50px;
  }
  .container-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .container-type {
    font-weight: bold;
    font-size: 16px;
    color: var(--primary);
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .container-percentage {
    font-weight: bold;
    font-size: 24px;
    color: var(--primary);
  }
  
  .refunded .container-type {
    color: #f0a500;
  }
  
  .refunded .container-percentage {
    color: #f0a500;
  }
  
  .container-details {
    background: none;
    border: none;
    color: var(--primary);
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    outline: none;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  /* .container-main p{
    color: #555;
  } */
  
  .container-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
  .viewbutton{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: auto;
  }
  /* .container-recommended {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .thumb-icon {
    color: var(--primary);
  }
  .viewbutton{
    display: flex;
    justify-content: end;
    align-items: center;
  }
  
  .view-button {
    background: var(--primary);
    border: none;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    font-weight: bold;
  }
  .view-button:hover {
    background: var(--btn-primary-hover);
  }
  
  .refunded .view-button {
    background: #f0a500;
  }
  .refunded .view-button:hover {
    background: #fbb827;
  } */

  .container-extra {
    background: #f9f9f9;
    border-top: 1px solid #eee;
    margin-top: 10px;
    padding: 10px 20px;
  }

  .redemption-conditions ul {
    list-style: none;
    padding: 0;
    margin: 0 0 10px 0;
}

.redemption-conditions ul li {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.redemption-conditions ul li svg {
    margin-right: 8px;
    /* color: var(--btn-primary-hover);  */
    color: #27ae60;
}

.redemption-conditions .price-info,
.redemption-conditions .type-action,
.redemption-conditions .frequency {
    margin: 5px 0;
}

.redemption-conditions p {
    margin-top: 10px;
}

.redemption-conditions hr {
    border: none;
    border-top:#8b8989 solid 1px;
    /* border-top: 1px solid #ddd; */
    margin: 15px 0;
}

.redemption-conditions .last-updated {
    font-size: 0.9em;
    color: #666;
}

   
  /* expired-section */
  .expired-section {
    margin-top: 20px !important;
  }
  
  .expired-section h3 {
    margin-bottom: 20px !important;
    font-size: 18px !important;
    color: red !important;
  }

  .expired-section .container-items{
    border-left: 3px solid #ccc;
    border-right: 3px solid #ccc;
  }  
  .expired-section .container-main {
    color: #999 !important;
  }
  
  .expired-section .card-button, 
  .expired-section .coupon-code-button,
  .expired-section .coupon-inner-text,
  .expired-section .coupon-code-button .coupon-blue-wrap{
    background-color: #ccc !important;
    border-color: #ccc !important;
    color: #999 !important;
    cursor: not-allowed !important;
  }
  
  .expired-section .coupon-code-button .coupon-blue-wrap{
    box-shadow: none;
  }
  .expired-section .coupon-blue-wrap .coupon-fold{
    background-color: darkgray !important;
  }

  .expired-section .card-button:hover {
    background-color: #ccc !important;
  }
  
  .expired-section .container-type,
  .expired-section .container-percentage,
  .expired-section .container-details,
  .expired-section .redemption-conditions,
  .expired-section .redemption-conditions h3,
  .expired-section .redemption-conditions span,
  .expired-section .redemption-conditions ul li svg{
    color: #999 !important;
  }

  /* .expired-section .thumb-icon{
    color: #999 !important;
  } */

  
  /* Additional styles for specific types */
  /* .expired-section .code {
    margin-bottom: 20px !important;
    font-size: 18px !important;
    background-color: gray !important;
  }
  
  .expired-section .offer {
    margin-bottom: 20px !important;
    font-size: 18px !important;
    background-color: gray !important;
  }
  
  .expired-section .refunded {
    margin-bottom: 20px !important;
    font-size: 18px !important;
    background-color: gray;
  } */


  .similar-coupons h4{
    margin-bottom: 20px !important;
    font-size: 18px !important;
  }


  
@media (max-width: 992px) {
 .container-list {
   margin-right: auto;
 }
}
  
@media (max-width: 576px) {
 .container-list {
   width: 94%;
 }
}