/* .main-coupon{
  background-color: #f5f5f5;
}
.coupon-type {
  margin-left: 75px;
  }
  
  .coupon-type h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .radio-label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 14px;
    color: #666;
    cursor: pointer;
  }
  
  .radio-label input {
    margin-right: 10px;
  }
  
  .radio-label.selected input {
    accent-color: var(--btn-primary-hover); 
    background-color: var(--btn-primary-hover);
  }
  
  .radio-label.selected {
    font-weight: bold;
  }
  
  .radio-label input[type="radio"] {
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #ccc;
    display: inline-block;
    position: relative;
  }
  
  .radio-label input[type="radio"]:checked::before {
    content: '';
    display: block;
    width: 10px;
    border-radius: 50%;
    background: var(--btn-primary-hover);
    position: absolute;
    top: 3px;
    left: 3px;
  }
   */


   .main-coupon {
    background-color: #f5f5f5;
  }
  
  .coupon-type {
    /* margin-left: 75px; */
    margin-left: 3%;
    padding: 20px;
    padding-bottom: 0;
  }
  
  .coupon-type h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .coupon-button {
    display: inline-block;
    padding: 6px 20px;
    margin: 0 5px 10px 0;
    font-size: 14px;
    color: var(--btn-primary-hover);
    background-color: #fff;
    border: 2px solid var(--btn-primary-hover);
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .coupon-button:hover {
    background-color: #ddd;
  }
  

  .coupon-button.selected {
    background-color: var(--btn-primary-hover); 
    color: #fff;
    border-color: var(--btn-primary-hover);
    font-weight: bold;
  }
  

  .coupon-button.selected:hover {
    background-color: var(--primary); 
    border-color: var(--primary); 
  }
  

