.mainCarousel{
  background-color: #F5F5F5 !important;  
}
.carousel {
  display: flex;
  align-items: center;
  position: relative;
  width: 85%;
  margin: auto;
}

.carousel-arrow {
  cursor: pointer;
  font-size: 2em;
  color: #000;
  user-select: none;
  z-index: 10;
}

.carousel-content {
  display: flex;
  width: 100%;
  position: relative;
}

.carousel-background {
  width: 70%;
  height: 300px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.carousel-logo {
  position: absolute;
  top: 50%;
  right: -52px;
  transform: translateY(-50%);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out; /* Added transition */
  transform-origin: center; /* Ensure scaling from the center */
}

.carousel-logo img {
  width: 77%;
  height: 30%;
  object-fit: cover;
}

.carousel-text {
  width: 30%;
  background-color: #003a8c;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

.carousel-description {
  text-align: center;
  transition: transform 0.3s ease-in-out; /* Added transition */
}

/* .carousel-description p {
  margin: 0;
  font-size: 1.5em;
} */

.carousel-description .header,
.carousel-description .percentage,
.carousel-description .description,
.carousel-description button {
  transition: transform 0.3s ease-in-out; /* Added transition */
}

.carousel-description .header {
  margin: 0;
  font-size: 1.2em;
  /* font-weight: bold; */
}

.carousel-description .percentage {
  margin: 10px 0;
  font-size: 2.5em;
}

.carousel-description .description {
  margin: 0;
  font-size: 0.8em;
}

.carousel-description button {
  margin-top: 10px;
  padding: 5px 5px;
  background-color: #003a8c;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1em;
  border: 1px solid white;
}

.carousel-arrow.left {
  position: absolute;
  left: 0;
}

.carousel-arrow.right {
  position: absolute;
  right: 0;
}
.left .faleft:hover{
  color: #0550b9 !important;
}
.right .faright:hover{
  color: #0550b9 !important;
}


@media (min-width: 991px) {
  .carousel:hover .carousel-logo {
    transform: scale(1.1); /* Only scale the logo */
    transform-origin: center; /* Ensure scaling from the center */
  }

  .carousel:hover .carousel-description .header,
  .carousel:hover .carousel-description .percentage,
  .carousel:hover .carousel-description .description,
  .carousel:hover .carousel-description button {
    transform: scale(1.1); /* Only scale the text elements */
  }
}
@media (max-width: 767px) {
  .carousel {
    flex-direction: column;
    width: 100%;
  }

  .carousel-background {
    width: 100%;
    /* height: auto; */
  }

  .carousel-logo {
    position: absolute;
    right: 10px;
    bottom: -40px;
    transform: none;
    width: 80px;
    height: 80px;
  }

  .carousel-logo img {
    width: 100%;
    height: auto;
  }

  .carousel-text {
    /* width: 100%; */
    width: 45%;
    background-color: #003a8c;
    padding: 10px;
    text-align: left;
  }

  .carousel-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .carousel-description .header {
    font-size: 1em;
  }

  .carousel-description .percentage { 
    font-size: 1.5em;
  }

  .carousel-description .description {
    display: none;
  }

  .carousel-description button {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 0.8em;
  }

  /* Adjust the position of the carousel arrows */
  .carousel-arrow.left, .carousel-arrow.right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5em;
  }

  .carousel-arrow.left {
    left: 10px;
  }

  .carousel-arrow.right {
    right: 10px;
  }
}
