/* test gitttt */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logocontainer{
    padding: 0;
    height: 45px;
}
.atag{
    gap: 10px;
    text-decoration: none;
    color: #003a8c;
}

.atag img{
    width: 100px;
}

.back{
    gap: 0px;
}
.icon{
    
    font-size: 26px;
}

.back:hover{
    color: black;
}